body {
    margin: 0;
}
header {
    height: 60px;
    width: 100%;
    background-color: rgb(3, 3, 112);
    z-index: 100px;
    position: fixed;
    top: 0;
    
}

header h3 {
    margin-top: 17px;
    color: white;
    font-weight: bold;
}

aside {
    top: 60px;
    left: 0;
    width: 300px;
    height: calc(100vh - 60px);
    position: fixed;
    overflow-y: auto;
}

main {
    margin-left: 300px;
    margin-top: 60px;
    width: calc(100vw - 300px);
    height: calc(100vh - 60px);
    background-color: rgb(195, 193, 193);
}

main > div {
    width: 100px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-top: 10px;
    display: inline;
    float: left;
    background-color: rgb(144, 144, 144);
    margin-right: 12px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}

main > div:first-child {
    margin-left: 20px;

}
#all {
    border-color: black;
    border-top-style: solid;
    border-top: 5px;
}
main > div > p {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 0px;
}
main > #form {
    clear: left;
    float: left;
    width: 300px;
    margin-left: 15px;
    background-color: rgb(195, 193, 193);
}

main > div > form > input {
    background-color: rgb(54, 218, 255);
    float: left;
    width: 50px;
    border-radius: 5px;
    margin-left: 20px;
}
main > div > form > input[type="button"]:focus {
    background-color: aqua;
}

main > .tasks {
    width: 100%;
}

main .tasks  div {
    margin-left: 25px;
    margin-top: 10px;
    width: 96%;
    background-color: antiquewhite;
    height: 150px;
    margin-bottom: 15px;

}

input, select, textarea {
    width: 100%;
    box-sizing: border-box;
}

form {
    margin-top: 10px;
}